<div class="p-8">

  <div class="flex justify-between items-center mb-8">

    <h1 class="text-4xl font-bold">
      🛠️ Admin Dashboard
    </h1>



  </div>

  <div
    class="bg-white shadow-lg rounded-2xl p-6 mb-8">
  
    <h2 class="text-3xl font-bold mb-6">
      {{ isEditing ? '✏️ Editar Producto': '➕ Crear Producto'}}
    </h2>

    <div class="flex flex-col gap-4">
      
      <input
      [(ngModel)]="selectedProduct.name"
      placeholder="Nombre"
      class="border p-3 rounded-lg"
    >

    <input
      [(ngModel)]="selectedProduct.description"
      placeholder="Descripción"
      class="border p-3 rounded-lg"
    >

    <input
      [(ngModel)]="selectedProduct.price"
      type="number"
      placeholder="Precio"
      class="border p-3 rounded-lg"
    >

    <input
      [(ngModel)]="selectedProduct.stock"
      type="number"
      placeholder="Stock"
      class="border p-3 rounded-lg"
    >

    <input
      type="file"
      (change)="onFileSelected($event)"
      class="border p-3 rounded-lg"
    >

    <img
      *ngIf="selectedProduct.imageUrl"
      [src]="selectedProduct.imageUrl"
      class="w-40 h-40 object-cover rounded-lg"
    />

    <button
      (click)="saveProduct()"
      class="bg-green-600 text-white p-3 rounded-lg hover:bg-green-700"
    >
    {{ isEditing ? '💾 Guardar Cambios' : '➕ Crear Producto' }}
    </button> 

    </div>

  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

    <div
      *ngFor="let product of products"
      class="bg-white shadow-lg rounded-2xl overflow-hidden"
    >

      <img
        [src]="product.imageUrl"
        class="w-full h-64 object-cover"
      >

      <div class="p-5">

        <h2 class="text-2xl font-bold mb-2">
          {{ product.name }}
        </h2>

        <p class="text-gray-600 mb-3">
          {{ product.description }}
        </p>

        <p class="text-emerald-600 text-2xl font-bold mb-4">
          ₡ {{ product.price }}
        </p>

        <div class="flex gap-3">

          <button
            (click)="editProduct(product)"
            class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600"
          >
            ✏️ Editar
          </button>

          <button
            (click)="deleteProduct(product.id)"
            class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600"
          >
            🗑️ Eliminar
          </button>

        </div>

      </div>

    </div>

  </div>

</div>