<div class="min-h-screen bg-gray-100 flex justify-center items-center">

    <div class="bg-white p-10 rounded-2xl shadow-2xl w-full max-w-md">
  
      <h1 class="text-4xl font-bold mb-8 text-center">
        🔐 Login
      </h1>
  
      <form
        (ngSubmit)="login()"
        class="flex flex-col gap-5"
      >
  
        <input
          type="email"
          placeholder="Email"
          [(ngModel)]="loginData.email"
          name="email"
          class="border p-4 rounded-xl"
        >
  
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="loginData.password"
          name="password"
          class="border p-4 rounded-xl"
        >
  
        <button
          type="submit"
          class="bg-black text-white py-4 rounded-xl text-xl hover:bg-gray-800"
        >
          Entrar
        </button>

        <p class="text-center mt-4">
          ¿No tienes cuenta?
        </p>

        <a
          routerLink="/register"
          class="text-center text-blue-600 hover:underline cursor-pointer"
          
        >
          📝 Regístrate aquí
        </a>
  
      </form>
  
    </div>
  
  </div>