<nav class=" bg-black text-white px-4 md:px-8 py-5 flex flex-col md:flex-row justify-between items-center gap-4">
    <a
      routerLink="/"
      class="text-3xl font-bold"
    >
      🧦 SockStore
    </a>
  
    <div class=" flex flex-col md:flex-row items-center gap-4 text-center">

      <a
        routerLink="/"
        class="hover:text-gray-300"
      >
        Productos
      </a>

      <a
        *ngIf="isLoggedIn()"
        routerLink="/wishlist"
        class="hover:text-gray-300"
      >
        ❤️ Wishlist
      </a>
  
      <a
        routerLink="/cart"
        class="hover:text-gray-300"
      >
        🛒 Carrito
      </a>
      
      <a
        *ngIf="isAdmin()"
        routerLink="/orders"
        class="hover:text-gray-300"
      >
        📦 Órdenes
      </a>
      <a
        *ngIf="isLoggedIn()"
        routerLink="/my-orders"
        class="hover:text-gray-300"
      >
        📦 Mis Compras
      </a>

      <a
        *ngIf="isAdmin()"
        routerLink="/admin"
        class="hover:text-gray-300"
      >
        📊 Dashboard
      </a>

      <a
      *ngIf="!isLoggedIn()"
        routerLink="/login"
        class="hover:text-gray-300"
      >
      🔐 Login 
      </a>

      <a
        *ngIf="isLoggedIn()"
        routerLink="/profile"
        class="hover:text-gray-300"
      >
        👤 Perfil
      </a>

      <button
      *ngIf="isLoggedIn()"
      (click)="logout()"
      class="hover:text-red-400 transition"
      >
      🚪 Cerrar sesion
      </button>
  
    </div>
  
  </nav>